*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
html
{
    background-image: url("/Assignment-3/Assets/Images/pexels-codioful-7130465.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
body
{
    padding: 30px 50px 50px;
}
.logo
{
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
nav
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height:8vh;
    background-color:white;
    padding:5px;
    border-radius: 50px;
    font-family:'poppins',sans-serif;
}
.nav-links
{
    display:flex;
    justify-content:space-around;
    gap:50px;
    width:30%;
}
.nav-links li
{
    list-style: none;
}
.nav-links a
{
    text-decoration: none;
    letter-spacing:3px;
    color: black;
}
.nav-links a:hover
{
    background-color:black;
    border-radius:9px;
    color: white;
}
.home
{
    margin-top:30px;
    height:82vh;
    background-color: #353C34;
    border-radius:20px;
}
img
{
    float:right;
    padding:30px;
    padding-top:60px;
    border-radius:100px;
}
.main
{
    background-color: rgba(211, 206, 200, 0.81);
    height:400px;
    width:60%;
    position:relative;
    top:70px;
    left:50px;
    border-radius:50px;
}
